
/* body {
  border: solid blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto auto auto auto;
  grid-gap: 10px;
  grid-template-areas:
  ". . . ."
  ". . . sideBar"
  "footer footer footer footer";
}  */

.sideBar {
  border: solid;
  border-width: thin;
  border-color: #896978;
  padding: 15px;
  position: absolute;
  top: 14.5%;
  right: 0;
  height: 800px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "img img img"
  "header header header"
  "bench bar bar"
  "reset reset reset";
}

.bottomBar {
  top: 270%;
  margin-bottom: 10px;
  border: solid;
  border-width: thin;
  border-color: #896978;
  padding: 15px;
  /* position: absolute; */
  width: 98%;
  height: 120px;
  display: grid;
  /* position: relative; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
  "pHeader pHeader bench bench bench bench bench bench bench bench header img"
  "pHeader pHeader bar bar bar bar bar bar bar bar header img"
  "reset reset bar bar bar bar bar bar bar bar header img";
}

.progressHeader{
  grid-area: pHeader;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Arapey', serif;
  font-size: 30px;
}

.catLadyImg {
  grid-area: img;
  max-height: 130px;
}

.sideHeader {
  grid-area: header;
  font-family: 'Arapey', serif;
  font-size: 30px;
  text-align: center;
}

.reset {
  grid-area: reset;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.benchmarks {
  grid-area: bench;
  font-family: 'Arapey', serif;
}

.benchmarks p {
  display: inline; 
  padding-right: 70px;
}

.progressBar {
  grid-area: bar;
}

.progressBar div {
  display: inline-block;
  border-radius: 50%;
  border: solid;
  border-width: thin;
  width: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 37px;
}

.menu img {
  max-height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 2;
}

.dropdownLinks {
  display: block;
  margin: 20px;
  font-size: 20px;
  width: 150px;
  color: black;
}

.menu:hover .dropdown{
  display: block;
}

.homeMenuBar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  padding: 5px;
  width: 98%;
  height: 25px;
}

.homeMenuBar div {
  font-size: 20px;
  color: black;
  padding-right: 30px;
}

.footer {
  background-color: rgb(235, 233, 233);
  height: 100px;
  top: 230%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.social {
  top: 6%;
  margin: 20px;
}

.homePage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "banner banner banner banner"
  "homeText homeText homeText homeText "
  " . . . . "
}

.homeBanner {
  grid-area: banner;
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.homeBanner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
/* this is the only method that worked for making this photo responsive
--the Netflix way */

.bannerOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.3;
}

.homeBanner h1{
  position: absolute;
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/* how does this work with text align PLUS left, right, margin?? */

.homeText {
  grid-area: homeText;
  /* margin-top: 25px; */
  /* margin-right: 340px; */
  /* position: absolute; */
  /* left: 350px;
  top: 58%;
  width: 75%; */
}

.homeText p {
  padding: 110px;
  font-family: 'Arapey', serif;
  font-size: 25px;
  font-weight: bold;
}

.p3 {
  position: relative;
}

.p3 span {
  position: absolute;
  right: 3%;
  top: 31%;
}

.p3 > span > img {
  max-height: 100px;
}

.felineFactsText {
  margin-top: 25px;
  margin-right: 340px;
  text-align: center;
}

.ffHeaderBox {
  background-image: url("https://i.pinimg.com/originals/d0/3b/f0/d03bf0760cf16ffde433a9c926be80ce.jpg");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.ffHeader {
  position: relative;
}

.ffHeaderBorder {
  border: 1px solid gray;
  height: 91%;
  position: absolute;
  width: 96%;
  top: 4%;
  left: 2%;
}

.ffHeader > h1 {
  position: absolute;
  font-family: 'Arapey', serif;
  font-size: 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: 40%;
  color: white;
  letter-spacing: 10px;
}

.ffFacts {
  position: relative;
  height: 350px;
}

.ffFactsBox {
  border: 1px solid gray;
  position: absolute;
  width: 96%;
  top: 4%;
  left: 2%;
  height: 91%;
  border-radius: 15px;
}

.ffFacts p {
  position: absolute;
  font-size: 20px;
  padding: 50px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25%;
}

.ffButton {
  font-size: 40px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.ffButton button {
  width: 150px;
  height: 30px;
  font-size: 15px;
}

.capturePage {
  margin-top: 25px;
  margin-right: 340px;
  text-align: center;
}

.ccHeaderBox {
  background-image: url("https://cdn.pixabay.com/photo/2016/04/08/19/51/watercolor-1316867__340.jpg");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.ccHeader {
  position: relative;
}

.ccHeaderBorder {
  border: 1px solid gray;
  height: 91%;
  position: absolute;
  width: 96%;
  top: 4%;
  left: 2%;
}

.ccHeader > h1 {
  position: absolute;
  font-family: 'Arapey', serif;
  font-size: 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: 40%;
  color: white;
  letter-spacing: 10px;
}

.ccPhotos {
  height: 400px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.ccPhotosBox {
  border: 1px solid gray;
  position: absolute;
  width: 96%;
  height: 91%;
  top: 4%;
  border-radius: 15px;
}

.ccPhotos img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 12%;
}

.ccButton {
  font-size: 40px;
  padding-bottom: 30px;
}

.ccButton button {
  width: 150px;
  height: 30px;
  font-size: 15px;
}

.gamePage {
  /* position: relative; */
  margin-top: 25px;
  margin-right: 340px;
  text-align: center;
  margin-top: 40px;
  height: 835px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "game score"
  "game score";
}

.catBox {
  z-index: 1;
  grid-area: game;
  border: solid;
  width: 500px;
  height: 500px;
  left: 0;
  display: grid;
  grid-template-columns: 166.66px 166.66px 166.66px ;
  grid-template-rows: 166.66px 166.66px 166.66px ;
}

.dogBox {
  grid-area: game;
  border: solid;
  width: 500px;
  height: 500px;
  left: 0;
  display: grid;
  grid-template-columns: 166.66px 166.66px 166.66px ;
  grid-template-rows: 166.66px 166.66px 166.66px ;
}

.scoreBox {
  grid-area: score;
  border: solid thin;
  height: 826px;
}

.messageBox {
  height: 20%;
  position: relative;
}

.messageBox h1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  font-size: 50px;
  letter-spacing: 13px;
}

.cat {
  border: solid;
}

.catImg {
  max-width: 90%;
}

.dogImg {
  max-width: 90%;
}

.dog {
  border: solid;
}

/* ----------------------------------------------------------------------------- */

@media only screen and (max-width: 1415px){

  .progressBar div {
    margin-right: 34px;
  }

  .benchmarks p {
    padding-right: 65px;
  }
}

@media only screen and (max-width: 1370px){

  .progressBar div {
    margin-right: 30px;
  }

  .benchmarks p {
    padding-right: 58px;
  }
}

@media only screen and (max-width: 1315px){

  .progressBar div {
    margin-right: 25px;
  }

  .benchmarks p {
    padding-right: 50px;
  }

  .sideHeader {
    font-size: 25px;
  }

  .progressHeader {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1245px){

  .progressBar div {
    margin-right: 20px;
  }

  .benchmarks p {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 1200px){

  .homeText p {
    font-size: 20px;
  }

  .ffHeader h1 {
    font-size: 70px;
  }

  .ccHeader h1 {
    font-size: 70px;
  }

  .gamePage {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "game"
    "game"
    "score"
    "score";
  }

  .catBox {
    grid-area: game;
  }

  .dogBox {
    grid-area: game;
  }
  
  .scoreBox {
    grid-area: score;
    display: relative;
    border: solid thin;
    height: 300px;
    margin-top: 5px;
  }
  
  .messageBox {
    height: 50%;
    position: relative;
  }
  
  .messageBox h1 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
    font-size: 50px;
    letter-spacing: 13px;
  }

}

@media only screen and (max-width: 1179px){

  .progressBar div {
    margin-right: 12px;
  }

  .benchmarks p {
    padding-right: 25px;
  }

  .sideHeader {
    font-size: 22px;
  }

  .progressHeader {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1077px){

  .progressBar div {
    margin-right: 5px;
  }

  .benchmarks p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px){

  .ccHeader h1 {
    font-size: 50px;
  }

  .benchmarks {
    visibility: hidden;
  }

  .bottomBar {
    padding: 15px;
    width: 98%;
    height: 120px;
  }

  .progressBar div{
    width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 4px;
  }

  .sideHeader {
    font-size: 18px;
  }

  .progressHeader {
    font-size: 18px;
  }
}

@media only screen and (max-width: 900px){

  .homeText p{
    padding: 80px;
  }

  .p2 > span > img {
    max-height: 70px;
  }

  .ffHeaderBox {
    background-size: auto;
  }

  .ffHeader > h1 {
    font-size: 50px;
  }

  .ccHeaderBox {
    background-size: auto 100%;
  }

  .ccHeader h1 {
    font-size: 40px;
  }

  .progressBar div{
    width: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2px;
  }
}

@media only screen and (max-width: 860px){

  .sideBar {
    width: 94%;
    margin-top: 850px;
  }

  .progressBar div{
    width: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 3.8px;
  }

  .sideHeader {
    visibility: hidden;
  }

  /* .bottomBar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "pHeader pHeader bench bench bench bench bench bench bench bench bar img"
    "pHeader pHeader bar bar bar bar bar bar bar bar bar img"
    "reset reset bar bar bar bar bar bar bar bar bar img";
  } */

  .progressBar div{
    margin: 5.5px;
  }
}

@media only screen and (max-width: 770px){

  .ffHeader > h1 {
    font-size: 40px;
  }

  .ffHeader > h1 {
    font-size: 30px;
  }

  .ccHeader h1 {
    font-size: 30px;
  }

  .progressBar div{
    width: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 2.5px;
  }

  .progressHeader {
    visibility: hidden;
  }

  .reset {
    visibility: hidden;
  }
}

@media only screen and (max-width: 750px){

  .p2 > span > img {
    max-height: 60px;
  }

  .ffHeader > h1 {
    font-size: 30px;
  }

  .ccHeader h1 {
    font-size: 25px;
  }

  .progressBar div{
    margin: 2px;
  }
}

@media only screen and (max-width: 700px){

  .bottomBar {
    width: 94%;
  }

  .p2 > span > img {
    visibility: hidden;
  }

  .felineFactsText h1 {
    font-size: 40px;
  }

  .buttonContainer {
    font-size: 20px;
  }

  .ffHeader > h1 {
    font-size: 25px;
  }

  .progressBar div{
    margin: 1.5px;
  }

  /* .bottomBar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "pHeader pHeader bench bench bench bench bench bench bench bench bar img"
    "bar bar bar bar bar bar bar bar bar bar bar img"
    "bar bar bar bar bar bar bar bar bar bar bar img";
  } */

  .progressBar div{
    width: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 3.8px;
  }
}

@media only screen and (max-width: 650px) {

  .felineFactsText {
    position: absolute;
    top: 910px;
    width: 98%;
  }

  .footer {
    position: absolute;
    top: 2350px;
  }

  .sideBar {
    width: 94%;
  }

  .capturePage {
    position: absolute;
    top: 900px;
    width: 98%;
  }
  
  .ffHeader > h1 {
    font-size: 40px;
  }

  .ccHeader h1 {
    font-size: 40px;
  }

  .progressBar div{
    margin: 2.8px;
  }
}

@media only screen and (max-width: 650px){

  .progressBar div{
    margin: 2px;
  }
}

@media only screen and (max-width: 580px){

  /* .progressBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .progressBar div{
    margin: 1px;
  }

  .bottomBar img {
    visibility: hidden;
  }
}



/* responsive: 

-change sidebar to fixed width, then move it when the window is too small
-add background color to menu when you scroll down
-and change menu to fixed when scroll down
-change size of homepage header
-change menu to dropdown
-make homepage header smaller
-change social icons opacity on hover

*/


/* NOTES: 

-to remove underline from Link Component: use inline style 


*/