@font-face {
    font-family: "Yulinda";
    src: url("media/Yulinda\ Script.ttf");
    src: 
    url("media/Yulinda\ Script.otf") format("opentype");
    }

.header {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.headerImg {
    opacity: 0.5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.header h1, h2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.header h1 {
    bottom: 57%;
    font-family: 'Yulinda', cursive;
    font-size: 70px;
    color: #000505;
}

.header h2 {
    bottom: 52%;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.arrow {
    max-height: 70px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

.arrow:hover {
    cursor: pointer;
}

.homeContainers {
    font-family: 'Crimson Text', serif;
    padding: 40px;
}

.c1Text {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.imgContainer {
    border: 1px solid rgba(204, 126, 133, 0.315);
    padding: 10px;
    height: 200px;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.c1Text>div>img{
    height: 200px;
    width: 200px;
}

.c1Text h1{
    font-size: 30px;
}

.c1Text p {
    font-size: 18px;
}

.blurbP {
    padding-left: 25%;
    padding-right: 25%;
}

#c2 {
    grid-area: c2;
    position: relative;
    padding: 80px;
    background-image: url("https://i.pinimg.com/originals/18/41/2c/18412c4d7d45e777885c8e9087c2a04f.jpg");
    background-size: cover;
}

.c2Text {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.p1 {
    font-size: 20px;
}

.p2 {
    font-size: 25px;
}

.p2 span{
    font-family: 'Yulinda', cursive;
    color: #E06C9F;
}

#c3 {
    position: relative;
    margin: 50px;
}

#c3 p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.seeMore {
    font-size: 20px;
    text-decoration: none;
    color: #CC7E85;
}

.seeMoreDiv {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 7px;
    border:  1px solid rgba(201, 100, 129, 0.363);
    width: 250px;
    background-color: rgba(255, 192, 203, 0.116);
}

.seeMoreDiv:hover {
    background-color: rgba(255, 192, 203, 0.342);
}

.c3Boxes {
    margin-bottom: 50px;
    text-align: center;
}

.c3Boxes h4 {
    display: inline-block;
    font-size: 25px;
    padding: 15px;
}

h4:nth-child(1){
    border-right: 1px solid black;
}

h4:nth-child(2){
    border-right: 1px solid black;
}

#c4 {
    background-image: url("https://i.pinimg.com/originals/18/41/2c/18412c4d7d45e777885c8e9087c2a04f.jpg");
    background-size: cover;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 80px;
}

.c4Text {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    margin: 25px;
}

.c4Text h3 {
    font-size: 60px;
    line-height: 10px;
}

.c4Text p {
    font-size: 20px;
}

footer {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 50px;
}

footer div {
    display: inline-block;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    background-size: 25px;
    background-repeat: no-repeat;
}

#git {
    background-image: url("media/black git icon.png");
}

#linkedIn {
    background-image: url("media/black\ linkedin\ icon.png");
}

#insta {
    background-image: url("media/brandico_2014-04-07_instagram_100_0_000000_none.png");
}

#git:hover {
    background-image: url("media/pinkgiticon.png");
}

#linkedIn:hover {
    background-image: url("media/pink linkedin icon.png");
}

#insta:hover {
    background-image: url("media/pink instagram icon.png");
}

.contact a {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: rgba(201, 100, 129, 0.171);
    font-size: 18px;
}

.contact a:hover{
    background-color: #CC7E85;
}

@media screen and (max-width: 1000px){

    .c3Boxes h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px){

    .c3Boxes h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px){

    #c3 p {
        text-align: center;
        font-size: 18px;
        padding: 0;
    }

    h4:nth-child(1){
        border-right: none;
    }

    h4:nth-child(2){
        border-right: none;
    }

    .blurbP{
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (max-width: 700px){
    .header h1 {
        font-size: 55px;
    }

    .header h2 {
        bottom: 44%;
        font-size: 15px;
    }

    .blurbP{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px){
    
    .header h1 {
        bottom: 55%;
        font-size: 45px;
    }
    
    .header h2 {
        bottom: 45%;
        font-family: 'Playfair Display', serif;
        font-size: 15px;
    }

    .p1 {
        font-size: 18px;
    }
    
    .p2 {
        font-size: 20px;
    }
    
    .seeMore {
        font-size: 22px;
        text-decoration: none;
        color: black;
    }
    
    .c3Boxes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .c3Boxes h4 {
        font-size: 18px;
        padding: 20px;
    }

    .contact p{
        font-size: 18px;
        padding-bottom: 15px;
    }
}

/* ======= PROJECTS PAGE ================================= */

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "header header header header"
    ". project1 project2 ."
    ". project3 project4 ."
    ". project5 project6 ."
    ". return return .";
    grid-gap: 20px;
}

header {
    grid-area: header;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    font-family: 'Crimson Text', serif;
}

.projects {
    padding: 25px;
}

#project1 {
    grid-area: project1;
}

.projects>img:hover{
    opacity: 1;
    cursor: pointer;
}

.projects img {
    height: auto;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.459);
    opacity: 0.7;
}

.projects > h3 {
    height: 100px;
    width: 100%;
    font-family: 'Crimson Text', serif;
}

#project2 {
    grid-area: project2;
}

#project3 {
    grid-area: project3;
}

#project4 {
    grid-area: project4;
}

#project5 {
    grid-area: project5;
}

#project6 {
    grid-area: project6;
}

.return {
    grid-area: return;
    text-align: center;
    padding: 20px;
    margin-bottom: 90px;
}

.return a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.247);
}

@media screen and (max-width: 1200px){

    .projects {
        width: 30vw;
    }
}

@media screen and (max-width: 800px){
 
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header header"
        "project1 project2"
        "project3 project4"
        "project5 project6"
        "return return";;
        grid-gap: 20px;
    }

    .projects {
        width: auto;
    }
}

@media screen and (max-width: 550px){

    .container {
        display: flex;
        flex-flow: column;
    }
}


/* changing from grid to flex-flow column when scaling down worked well. */