body {
    display: grid;
    grid-template-columns: 50% 50%;
}

.rightColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftColumn {
    display: grid;
    grid-template-rows: auto 25%;
    grid-gap: 1%;
}

.footer {
    background-color: lightcyan;
    /* padding-right: 500px;
    padding-left: 5px; */
    font-family: 'Crimson Text', serif;
}

header {
    position: relative;
    font-family: 'Allura', cursive;
    font-size: 25px; 
    border: solid;
    border-width: thin;
    border-color: #ededed;
}

h1 {
    position: absolute;
    left: 5%;
}

header img {
    position: absolute;
    max-height: 80px;
    right: 33%;
    top: 3%;
}

header p {
    position: absolute;
    bottom: 40%;
    left: 33%;
    font-size: 35px;
}

.goombas, .bobombs, .cheepcheeps, .total {
    position: relative;
    border: solid;
    border-width: thin;
    border-color: #ededed;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.baddies {
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-family: 'Cormorant', serif;
    font-size: 18px;
}

input {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

label {
    position: absolute;
    bottom: 10%;
    right: 15%;
    font-family: 'Cormorant', serif;
    font-size: 18px;
}

.goombas img {
    position: absolute;
    bottom: 28%;
    left: 5%;
    max-height: 50px;
}

.bobombs img {
    position: absolute;
    bottom: 28%;
    left: 5%;
    max-height: 75px;
}

.cheepcheeps img {
    position: absolute;
    bottom: 28%;
    left: 5%;
    max-height: 80px;
}

 #totalBaddies {
    font-family: 'Cormorant', serif;
    font-size: 40px;
    bottom: 13%;
    left: 25%;
}

#finalTotal {
    position: absolute;
    left: 50%;
    bottom: 13%;
    font-family: 'Cormorant', serif;
    font-size: 50px;
}

button {
    font-size: 18px;
    font-family: 'Cormorant', serif;
    position: absolute;
    right: 4%;
    top: 20%;
}

.totalButton {
    position: relative;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

