
.container {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto 1fr;   /* why doesn't it work when I do all fr?? */
    grid-template-areas: 
    "one one one"
    "two two three"
    "four four five"
    "six six seven"
    "eight eight eight"
    "nine nine nine";
}

@font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 

.one {
    grid-area: one;
    grid-column: 1 / -1;      /* this is important because i needed the image to go behind both div 1 and div 2 */
    background-image: url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    position: relative;
    height: 250px;
}

.one > h1 {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    font-size: 300%;
    position: absolute;
    left: 200px;
    top: 80px;
}

.one > h2 {
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    font-size: 25px;
    position: absolute;
    left: 200px;
    top: 140px;
    color: white;
    opacity: 0.6;
}

.dotted {
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* a:link {
    color: #2387a7;
}

a:hover {
    text-decoration: underline;
} */


.stripe1 {
    position: absolute;
    top: 0%;
    padding-bottom: 20px;
    padding-left: 100%;
    background-color: #3e5d67;
    opacity: 0.3;
}

.stripe2 {
    position: absolute;
    top: 4%;
    padding-bottom: 4px;
    padding-left: 100%;
    background-color: #3e5d67;
}

.stripe3 {
    position: absolute;
    top: 0%;
    padding-bottom: 10px;
    padding-left: 100%;
    background-color: #325050;
    opacity: 0.6;
}

.box {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding: 16.65%;
    background-color: black;
    opacity: 0.1;
}

.viewDesigns {
    position: absolute;
    padding-top: 50px;
    padding-left: 15%;
    background-color: white;
    opacity: 0.1;
    right: 10.5%;
    bottom: 40%;
    min-width: 165px;
}

.viewDesigns:hover {
    opacity: 0.2;
}

.arrowBox:hover {
    opacity: 0.2;
}

.arrowBox {
    position: absolute;
    padding-top: 50px;
    padding-left: 3.6%;
    background-color: white;
    opacity: 0.1;
    right: 6.75%;
    bottom: 40%;
}

.view {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    font-weight: 100;
    position:absolute;
    top: 46%;
    right: 12%;
    opacity: 0.7;
}

.arrow {
    font-family: 'Julius Sans One', sans-serif;
    font-size:xx-large;
    color: white;
    font-weight: 100;
    position:absolute;
    top: 41%;
    right: 8.1%;
    opacity: 0.7;
}

.imgTwo {
    max-width: 130px;
    position: absolute;
    left: 50px;
    top: 40px;
}

.two {
    grid-area: two;
    grid-column: 1 / 3;
    padding: 8%;
    font-family: 'Libre Baskerville', sans-serif;
    color: #3e5d67;
    line-height: 30px;
}

.two h3 {
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.two img {
    display: inline-block;
    max-width: 20px;
}

.three {
    grid-area: three;
    grid-column: 3 / -1;
    background-color: #edf4f0;
    padding: 13%;
    
}

.three ul {
        list-style-type: none;
}

.sideHeader {
    color: #3e5d67;
}

.sideHeader:hover {
    color: #0c546094;
    text-decoration: none;
}

.author {
    color: #155724b5;
}

.author:hover {
    color: #0c546094;
    text-decoration: none;
}

.download {
    display: inline-block;
    font-family: 'Julius Sans One', sans-serif;
    coloer:rgba(126, 171, 145, 0.5);
}

.download:hover {
    background-color: #134347;
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inlineBlock {
    display: inline-block;
}

.sideHeader {
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    color: #3e5d67;
}

.by, .author {
    font-family: 'Libre Baskerville', sans-serif;
    color: #616857;
}

.by {
    font-style: italic;
    opacity: 0.5;
}

.four {
    grid-area: four;
    grid-column: 1 / 3;
    background-color:  rgba(138,188,159,0.5);
    padding: 8%;
    font-family: 'Libre Baskerville', sans-serif;
    color: #3e5d67;
    line-height: 30px;
}

.four h3 {
    font-family: 'Julius Sans One', sans-serif;
    color: #3e5d67;
    padding-bottom: 10px;
    padding-top: 10px;
}

.four a {
    color: #1792a7;
}

.four a:hover {
    color: #1baec7;
}

.five {
    grid-area: five;
    grid-column: 3;
    background-color: rgba(126, 171, 145, 0.5);
    padding: 16%;
}

.five li {
    opacity: 0.8;
    color: #3e5d67;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.five a {
    color: #3e5d67;
}

.five a:hover {
    color: #0c7b8e;
    text-decoration: none;
}

.four, .five {
    background-image: url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
}

.six {
    grid-area: six;
    grid-column: 1 / 3;
    padding: 8%;
    font-family: 'Libre Baskerville', sans-serif;
    color: #3e5d67;
    line-height: 30px;
}

.six h4 {
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.six a {
    color: #1594a9;
}

.six a:hover {
    color: #19aec5;
}

.seven {
    grid-area: seven;
    grid-column: 3;
    background-color: #edf4f0;
}

.eight {
    grid-area: eight;
    grid-column: 1 / -1;
    background-image: url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
    padding: 10%;
    color: white;
}

.eight > h1 {
    display: inline-block;                           /*had to use this in order to add styling to span elements */
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 33px;
    text-align: center;
    line-height: 60px;
}

.eight > h1 > span {
    z-index: 1;
    font-style: normal;
    opacity: 0.4;
    font-style: italic;
}

.eight a {
    color: rgba(255, 255, 255, 0.719);
}

.nine {
    position: relative;
    grid-area: nine;
    grid-column: 1 / -1;
    background-color: #134347;
    font-family: 'verdemoderna';
    padding-left: 24%;
    padding-top: 5%;
}

.nine p {
    position: absolute;
    font-size: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
}

#hoverOne {
    top: 28%;
    left: 26.5%;
}

#hoverTwo {
    top: 28%;
    left: 38%;
}

#hoverThree {
    top: 28%;
    left: 49%;
}

#hoverFour {
    top: 28%;
    left: 60%;
}

#hoverFive {
    top: 28%;
    left: 71.5%;
}

@media (max-width: 1130px){

.container {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto auto auto 1fr;   /* why doesn't it work when I do all fr?? */
    grid-template-areas: 
    "one one one"
    "two two two"
    "four four four"
    "six six six"
    "eight eight eight"
    "nine nine nine"
    "three three three"
    "five five five";
}

.one > h1{
    font-size: 38px;
    top: 20%;
    left: 40%;
}

.one h2 {
    font-size: 20px;
    top: 39%;
    left: 45%;
}

.imgTwo {
    max-width: 80px;
    left: 30%;
    top: 10%;
}

.box {
    width: 100%;
    padding: 35px;
    background-color: white;
    opacity: 0.2;
}

.viewDesigns {
    width: 80%;
    padding: 35px;
    right: 10%;
    bottom: 0%;
    opacity: 0.01;
}

.viewDesigns:hover {
    opacity: 0.2;
}

.arrowBox {
    width: 10%;
    padding: 35px;
    bottom: 0%;
    right: 0%;

}

.view {
    top: 80%;
    right: 40%;
}

.arrow {
    font-size: 70px;
    top: 65%;
    right: 3.2%;
}

.arrowBox:hover {
    opacity: 0.2;
}

.two {
    grid-column: 1 / -1;
    font-size: 13px;
    line-height: 24px;
}

.two h3 {
    font-size: 20px;
}

.four {
    grid-column: 1 / -1;
    font-size: 13px;
    line-height: 24px;
}

.four h3 {
    font-size: 20px;
}

.six {
    grid-column: 1 / -1;
    font-size: 13px;
    line-height: 24px;
}

.six h4 {
    font-size: 20px;
}

.eight {
    padding: 4%;
}

.eight h1 {
    font-size: 23px;
}

.nine {
    padding: 7%;
}

.nine p {
    font-size: 45px;
}

.three {
    grid-column: 1 / -1;
    padding: 15px;
    column-count: 2;
}

.three li {
    border-bottom: solid;
    border-width: thin;
    border-color: #0000001f;
}

.three hr {
    visibility: hidden;
}

.sideHeader {
    font-size: 18px;
}

.by {
    font-size: 15px;
}

.author {
    font-size: 15px;
}

.five {
    grid-area: five;
    grid-column: 1 / -1;
    padding: 10px;
    column-count: 2;
}

.five li {
    border-bottom: solid;
    border-width: thin;
    border-color: #0000001f;
}

/* #oddOne {
    padding-top: 200px;
} */

.five hr {
    visibility: hidden;
}

}